body{
    background-color: var(--black-color);
    text-align: center;
    display: flex;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-paypal a{
    color: var(--green-color);

}